{%load static %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=1100">
	<meta name="robots" content="noodp,noydir">
	
	<title>Contact Us</title>
	<link rel="stylesheet" type="text/css" media="all" href="{%static "assets/css/home2.css" %}">
	<link rel="stylesheet" href="{%static "assets/css/font-awesome.css" %}">
	

<div id="grid"></div>


<div id="header">
	
	<div class="wrapper">
		<a href="/home/"><img src="{%static "assets/images/logo.png" %}"></a>
		<ul>
			<li class="selected"><a href="/home/"><span>Home</span></a></li>
			<li><a href="/accounts/loggedin/"><span>Profile</span></a></li>
			<li><a href="/contacts/"><span>Contact us</span></a></li>
			<li class="login"><a href="/accounts/login/"><span>Logout</span></a></li>
		</ul>
	</div>
</div>


	
	<div id="container" class="internal">
	

		<div id="top">
			
			<h2 class="features">Contact Us</h2>
			<h3 class="features">This is our 3rd sem project of COMP 206. We are 5 in total members and you can contact us individually.Our team will be happy to help you</h3>
			
		</div>


		
		<div id="content">
			<div class="wrapper">	
		
				
				<table class="features-layout">
					<tbody><tr>
						<td class="col-img">
							<div>
								<img src="{%static "assets/images/gunner.jpg" %}"width="250">
							</div>
						</td>
						
						<td class="gutter">
						</td>
						
						<td class="col-txt">
							<h3>Ramesh Tiwari</h3>
							<p>Description about Ramesh </p>
							<ul>
								<li><i class="icon-ok"></i> <b>Regestration no: 014382-12</b></li>
								<p> Department: DOCSE
								<li>2nd Year, 3rd Sem</li>
								<li><i class="icon-ok"><a href="http://www.facebook.com/bykalp"></i> <b>Facebook</li>
								
							</ul>
						</td>
					</tr>
				</tbody></table>


				<div class="separator"></div>
				
					<table class="features-layout">
					<tbody><tr>
						<td class="col-img">
							<div>
								<img src="{%static "assets/images/ashmit.jpg" %}"width="250">
							</div>
						</td>
						
						<td class="gutter">
						</td>
						
						<td class="col-txt">
							<h3>Ashmit Bhattarai</h3>
							<ul>
								<li><i class="icon-ok"></i> <b>Regestration no: 014382-12</b></li>
								<p> Department: DOCSE
								<li>2nd Year, 3rd Sem</li>
								<li><i class="icon-ok"><a href="http://www.facebook.com/ashmitbhattarai"></i> <b>Facebook</li>
								
							</ul>
						</td>
					</tr>
				</tbody></table>


				<div class="separator"></div>
				
					<table class="features-layout">
					<tbody><tr>
						<td class="col-img">
							<div>
								<img src="{%static "assets/images/aarya.jpg" %}"width="250">
							</div>
						</td>
						
						<td class="gutter">
						</td>
						
						<td class="col-txt">
							<h3>Aarya Joshi</h3>

							<ul>
								<li><i class="icon-ok"></i> <b>Regestration no: 014382-12</b></li>
								<p> Department: DOCSE
								<li>2nd Year, 3rd Sem</li>
								<li><i class="icon-ok"><a href="http://www.facebook.com/aarya"></i> <b>Facebook</li>
								
							</ul>
						</td>
					</tr>
				</tbody></table>


				<div class="separator"></div>
				
					<table class="features-layout">
					<tbody><tr>
						<td class="col-img">
							<div>
								<img src="{%static "assets/images/pradip.jpg" %}"width="250">
							</div>
						</td>
						
						<td class="gutter">
						</td>
						
						<td class="col-txt">
							<h3>Pradip Silwal</h3>

							<ul>
								
								<li><i class="icon-ok"></i> <b>Regestration no: 014375-12</b></li>
								<p> Department: DOCSE
								<li>2nd Year, 3rd Sem</li>
								<li><i class="icon-ok"><a href="http://www.facebook.com/pradip.silwal"></i> <b>Facebook</li>
								
							</ul>
						</td>
					</tr>
				</tbody></table>


				<div class="separator"></div>
				
					<table class="features-layout">
					<tbody><tr>
						<td class="col-img">
							<div>
								<img src="{%static "assets/images/dotel.jpg" %}"width="250">
							</div>
						</td>
						
						<td class="gutter">
						</td>
						
						<td class="col-txt">
							<h3>Sparsha Dotel</h3>

							<ul>
								
								<li><i class="icon-ok"></i> <b>Regestration no: 014382-12</b></li>
								<p> Department: DOCSE
								<li>2nd Year, 3rd Sem</li>
								<li><i class="icon-ok"><a href="http://www.facebook.com/dotelwa"></i> <b>Facebook</li>
								
							</ul>
						</td>
					</tr>
				</tbody></table>


							
				
			</div> <!-- wrapper -->



			<div class="call mtop3">
				<p>
	            	<a href="#header" class="main-button">GO TOP</a>
				</p>
			</div>


		</div> <!-- content -->
		

	</div> <!-- container -->




		
<div id="footer" class="footer-home">
	<div class="wrapper">
		<p>
			<a href="/help/"><span>Help</span></a> <span class="bar">|</span>
		
		</p>
		<p id="copyright">
			Copyright © 2014 Assignment Tracker</a>. All rights reserved.
		</p>
	</div>
</div>



</body></html>
