<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>Paragraphs</title>

</head>
<body bgcolor="AABB99">

	<a href="index.html">Back to home</a>
	
	<p />
	<a href="#sense">sense </a>
	
	<H1>C1</H1>
	
	<p>Whats up my friends? My name is sparsha dotel and i am on coouse on becoming an engineer ajspapslkapoj ;oi landlk aklsap kps;lap pkspaprjsha dace mero  kaam  na ki ker hcaa nk a tei vate am ma tn iasparsha r doa kganstao mma kaam gaari traa </p> 
	
	<H2>C2</H2> 
	
	<p>Whats up my friends? My name is sparsha dotel and i am on coouse on becoming an engineer ajspapslkapoj ;oi landlk aklsap kps;lap pkspaprjsha dace mero  kaam  na ki ker hcaa nk a tei vate am ma tn iasparsha r doa kganstao mma kaam gaari traa </p> 
	
	<H2>C3</H2> 
	
	<p>Whats up my friends? My name is sparsha dotel and i am on coouse on becoming an engineer ajspapslkapoj ;oi landlk aklsap kps;lap pkspaprjsha dace mero  kaam  na ki ker hcaa nk a tei vate am ma tn iasparsha r doa kganstao mma kaam gaari traa </p> 
	
	<H2>C4</H2>
	
	<p>Whats up my friends? My name is sparsha dotel and i am on coouse on becoming an engineer ajspapslkapoj ;oi landlk aklsap kps;lap pkspaprjsha dace mero  kaam  na ki ker hcaa nk a tei vate am ma tn iasparsha r doa kganstao mma kaam gaari traa </p> 
	
	<H2>C5</H2>
	
	<p>Whats up my friends? My name is sparsha dotel and i am on coouse on becoming an engineer ajspapslkapoj ;oi landlk aklsap kps;lap pkspaprjsha dace mero  kaam  na ki ker hcaa nk a tei vate am ma tn iasparsha r doa kganstao mma kaam gaari traa </p> 
	
	<H2>C6</H2>
	
	<p>Whats up my friends? My name is sparsha dotel and i am on coouse on becoming an engineer ajspapslkapoj ;oi landlk aklsap kps;lap pkspaprjsha dace mero  kaam  na ki ker hcaa nk a tei vate am ma tn iasparsha r doa kganstao mma kaam gaari traa </p> 
	
	<H2>C7</H2>
	
	<p>Whats up my friends? My name is sparsha dotel and i am on coouse on becoming an engineer ajspapslkapoj ;oi landlk aklsap kps;lap pkspaprjsha dace mero  kaam  na ki ker hcaa nk a tei vate am ma tn iasparsha r doa kganstao mma kaam gaari traa </p> 
	
	<H2>C8</H2>
	
	<p>Whats up my friends? My name is sparsha dotel and i am on coouse on becoming an engineer ajspapslkapoj ;oi landlk aklsap kps;lap pkspaprjsha dace mero  kaam  na ki ker hcaa nk a tei vate am ma tn iasparsha r doa kganstao mma kaam gaari traa </p> 
	
	<H2>C9</H2>
	
	<p>Whats up my friends? My name is sparsha dotel and i am on coouse on becoming an engineer ajspapslkapoj ;oi landlk aklsap kps;lap pkspaprjsha dace mero  kaam  na ki ker hcaa nk a tei vate am ma tn iasparsha r doa kganstao mma kaam gaari traa </p> 
	
	<H3><a name="sense"></a>THE SENTENCE</H3>
	
	<p>
		this is just to check that if it really works
	</p>	
	
	
	<H2>C10</H2>
	
	<p>Whats up my friends? My name is sparsha dotel and i am on coouse on becoming an engineer ajspapslkapoj ;oi landlk aklsap kps;lap pkspaprjsha dace mero  kaam  na ki ker hcaa nk a tei vate am ma tn iasparsha r doa kganstao mma kaam gaari traa </p> 
	
	<H2>C11</H2>
	
	<p>Whats up my friends? My name is sparsha dotel and i am on coouse on becoming an engineer ajspapslkapoj ;oi landlk aklsap kps;lap pkspaprjsha dace mero  kaam  na ki ker hcaa nk a tei vate am ma tn iasparsha r doa kganstao mma kaam gaari traa </p> 
	  
</body>
</html>
